
._*

*/.thumbs
.thumbs

**/__pycache__

*.zip
*.rar
*.tar
*.tgz
*.tar.gz
*.tmp

*.psd

*.npy
*.npz

*.mtl
*.obj
*.bin
*.pkl

interaction.json
recorder.usda

!interaction/**/*.json
!interaction/**/*.pkl
